body {
  background-color: #94A378;
  }
hr {
   border-style: none;
   border-top-style: dotted;
   border-top-color: grey;
   border-top-width: 5px;
   width: 5%;
 }
 h1 {
   color: #6E026F;
 }

 h3 {
   color: #574964;
 }
img {
  border-radius: 50%;
}
